.card {
    padding: 2%;
    /* border: 1px solid #ccc;
    border-radius: 10px; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.time {
    font-style: italic;
    padding-top: 1%;
}
.companylogo {
    width: 4rem;
    height: 3.5rem;
}

.ul li {
    list-style-type: circle;
    margin: 0.3rem 0;
}