@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

html,
body {
  margin: 0;
  padding: 0 15%;
  font-family:  'Roboto-Slab-Regular', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* h1,
h2,
p,
ul {
  margin: 0;
} */

h2 {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}
