@font-face {
    font-family: 'Arvo-Regular';
    src: url('/fonts/Arvo/Arvo-Regular.ttf');
    font-display: swap;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
}

#themeToggleFixed {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

#name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Arvo-Regular', sans-serif;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .menuIcon {
        display: block;
    }

    #header {
        display: block;
    }

    #name {
        width: 100%;
        justify-content: center;
    }
}
