@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

#intro {
  display: flex;
  /* border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2.5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

@media (max-width: 1050px) {
  #intro {
    flex-direction: column;
  }

  #dp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #dp img {
    width: 60%;  
  }
}

#introtext {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

#industry, #research, #teaching {
  padding: 1.5%;
  /* margin-top: 1rem; */
  /* border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

#content {
  flex-grow: 1; /* Take remaining space */
  flex-basis: 0; /* Allow content to shrink */
  margin-top: 1rem;
}

#dp {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dp img {
  border-radius: 2rem;
  max-width: 100%;
  max-height: 500px;
  height: auto;
}

#socialsContainer {
  display: flex;
  justify-content: center;
}
 