@font-face {
  font-family: 'Arvo-Regular';
  src: url('/fonts/Arvo/Arvo-Regular.ttf');
}

@font-face {
  font-family: 'Arvo-Bold';
  src: url('/fonts/Arvo/Arvo-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-Slab-Medium';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Slab-Regular';
  src: url('/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}

.container {
  min-height: 100vh;
  /* padding: 0 20rem; */
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  background-color: #ffffff;
} 

#intro {
  display: flex;
}

#introtext {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

#content {
  flex-grow: 1; /* Take remaining space */
  flex-basis: 0; /* Allow content to shrink */
  padding: 20px;
}

#dp {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#dp img {
  border-radius: 2rem;
  max-width: 100%;
  max-height: 500px;
  height: auto;
}
 
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}  */
